<tr class="voucher-row" data-voucher-id="{{ voucher.id }}">
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
        {{ voucher.get_type_display }}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
        {{ voucher.amount|floatformat:2 }} ريال
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
        {{ voucher.safe.name }}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
        {{ voucher.description|truncatechars:50 }}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
        {{ voucher.date|date:"Y-m-d" }}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        {{ voucher.created_at|date:"Y-m-d" }}
    </td>
</tr>